--
-- PostgreSQL database dump
--

\restrict q36NBI6R58dtb2RsacJdNnwF8HGM2rOa7OWnteXufoQ7Z7PY9YEagLHWTRnQviy

-- Dumped from database version 15.15 (Debian 15.15-1.pgdg13+1)
-- Dumped by pg_dump version 15.15 (Debian 15.15-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: user_role; Type: TYPE; Schema: public; Owner: devuser
--

CREATE TYPE public.user_role AS ENUM (
    'user',
    'admin'
);


ALTER TYPE public.user_role OWNER TO devuser;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: announcements; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.announcements (
    id integer NOT NULL,
    title character varying(200),
    body text NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    expires_at timestamp with time zone,
    created_by integer,
    category character varying(20)
);


ALTER TABLE public.announcements OWNER TO devuser;

--
-- Name: announcements_id_seq; Type: SEQUENCE; Schema: public; Owner: devuser
--

CREATE SEQUENCE public.announcements_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.announcements_id_seq OWNER TO devuser;

--
-- Name: announcements_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: devuser
--

ALTER SEQUENCE public.announcements_id_seq OWNED BY public.announcements.id;


--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.audit_logs (
    id integer NOT NULL,
    actor_id integer,
    action character varying(100),
    details jsonb,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.audit_logs OWNER TO devuser;

--
-- Name: audit_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: devuser
--

CREATE SEQUENCE public.audit_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.audit_logs_id_seq OWNER TO devuser;

--
-- Name: audit_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: devuser
--

ALTER SEQUENCE public.audit_logs_id_seq OWNED BY public.audit_logs.id;


--
-- Name: clients; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.clients (
    id integer NOT NULL,
    name character varying(25),
    surname character varying(70),
    initial character(1),
    user_id integer
);


ALTER TABLE public.clients OWNER TO devuser;

--
-- Name: com_users; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.com_users (
    id integer NOT NULL,
    surname character varying(50) NOT NULL,
    house_number character varying(4) NOT NULL,
    street_name character varying(20) NOT NULL,
    phone character varying(10) NOT NULL,
    password_hash text NOT NULL,
    created_at timestamp without time zone DEFAULT now(),
    role character varying(5) DEFAULT 'user'::character varying,
    last_checked_marketplace timestamp without time zone,
    last_checked_announcements timestamp without time zone,
    current_code_id integer
);


ALTER TABLE public.com_users OWNER TO devuser;

--
-- Name: com_users_id_seq; Type: SEQUENCE; Schema: public; Owner: devuser
--

CREATE SEQUENCE public.com_users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.com_users_id_seq OWNER TO devuser;

--
-- Name: com_users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: devuser
--

ALTER SEQUENCE public.com_users_id_seq OWNED BY public.com_users.id;


--
-- Name: contributions; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.contributions (
    id integer NOT NULL,
    resident_id integer,
    amount numeric(12,2) NOT NULL,
    month_year character varying(7) NOT NULL,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.contributions OWNER TO devuser;

--
-- Name: contributions_id_seq; Type: SEQUENCE; Schema: public; Owner: devuser
--

CREATE SEQUENCE public.contributions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.contributions_id_seq OWNER TO devuser;

--
-- Name: contributions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: devuser
--

ALTER SEQUENCE public.contributions_id_seq OWNED BY public.contributions.id;


--
-- Name: first_id_seq; Type: SEQUENCE; Schema: public; Owner: devuser
--

CREATE SEQUENCE public.first_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.first_id_seq OWNER TO devuser;

--
-- Name: first_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: devuser
--

ALTER SEQUENCE public.first_id_seq OWNED BY public.clients.id;


--
-- Name: gate_codes; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.gate_codes (
    id integer NOT NULL,
    code character varying(10) NOT NULL,
    week_start date NOT NULL,
    week_end date NOT NULL
);


ALTER TABLE public.gate_codes OWNER TO devuser;

--
-- Name: gate_codes_id_seq; Type: SEQUENCE; Schema: public; Owner: devuser
--

CREATE SEQUENCE public.gate_codes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.gate_codes_id_seq OWNER TO devuser;

--
-- Name: gate_codes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: devuser
--

ALTER SEQUENCE public.gate_codes_id_seq OWNED BY public.gate_codes.id;


--
-- Name: id_seq; Type: SEQUENCE; Schema: public; Owner: devuser
--

CREATE SEQUENCE public.id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.id_seq OWNER TO devuser;

--
-- Name: listing_images; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.listing_images (
    id integer NOT NULL,
    listing_id integer,
    url text NOT NULL,
    ord integer DEFAULT 0
);


ALTER TABLE public.listing_images OWNER TO devuser;

--
-- Name: listing_images_id_seq; Type: SEQUENCE; Schema: public; Owner: devuser
--

CREATE SEQUENCE public.listing_images_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.listing_images_id_seq OWNER TO devuser;

--
-- Name: listing_images_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: devuser
--

ALTER SEQUENCE public.listing_images_id_seq OWNED BY public.listing_images.id;


--
-- Name: listings; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.listings (
    id integer NOT NULL,
    title character varying(200) NOT NULL,
    description text,
    price numeric(12,2),
    seller_id integer,
    created_at timestamp with time zone DEFAULT now(),
    status character varying(20) DEFAULT 'active'::character varying
);


ALTER TABLE public.listings OWNER TO devuser;

--
-- Name: listings_id_seq; Type: SEQUENCE; Schema: public; Owner: devuser
--

CREATE SEQUENCE public.listings_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.listings_id_seq OWNER TO devuser;

--
-- Name: listings_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: devuser
--

ALTER SEQUENCE public.listings_id_seq OWNED BY public.listings.id;


--
-- Name: market; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.market (
    user_id integer NOT NULL,
    prod_name character varying(100) NOT NULL,
    price integer NOT NULL,
    prod_desc character varying(250),
    created_at timestamp without time zone NOT NULL,
    cell_no character varying(10) NOT NULL,
    id integer NOT NULL,
    images jsonb DEFAULT '[]'::jsonb
);


ALTER TABLE public.market OWNER TO devuser;

--
-- Name: market_id_seq; Type: SEQUENCE; Schema: public; Owner: devuser
--

CREATE SEQUENCE public.market_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.market_id_seq OWNER TO devuser;

--
-- Name: market_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: devuser
--

ALTER SEQUENCE public.market_id_seq OWNED BY public.market.id;


--
-- Name: schools; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.schools (
    school character varying(40),
    category character(1),
    id integer DEFAULT nextval('public.id_seq'::regclass) NOT NULL,
    images integer,
    location character varying(50)
);


ALTER TABLE public.schools OWNER TO devuser;

--
-- Name: user_notification_settings; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.user_notification_settings (
    user_id bigint NOT NULL,
    expo_push_token text,
    push_enabled boolean DEFAULT true NOT NULL,
    safety_enabled boolean DEFAULT false NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.user_notification_settings OWNER TO devuser;

--
-- Name: users; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.users (
    id integer NOT NULL,
    email character varying(35) NOT NULL,
    password_hash text NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    role public.user_role DEFAULT 'user'::public.user_role NOT NULL
);


ALTER TABLE public.users OWNER TO devuser;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: devuser
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_id_seq OWNER TO devuser;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: devuser
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: visitor_entries; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.visitor_entries (
    id integer NOT NULL,
    visitor_id integer,
    plate character varying(20) NOT NULL,
    host_resident character varying,
    entry_time timestamp with time zone DEFAULT now(),
    exit_time timestamp with time zone
);


ALTER TABLE public.visitor_entries OWNER TO devuser;

--
-- Name: visitor_entries_id_seq; Type: SEQUENCE; Schema: public; Owner: devuser
--

CREATE SEQUENCE public.visitor_entries_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.visitor_entries_id_seq OWNER TO devuser;

--
-- Name: visitor_entries_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: devuser
--

ALTER SEQUENCE public.visitor_entries_id_seq OWNED BY public.visitor_entries.id;


--
-- Name: visitors; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.visitors (
    id integer NOT NULL,
    plate character varying(12),
    name character varying(30),
    phone character varying(15),
    created_at timestamp with time zone DEFAULT now(),
    surname text
);


ALTER TABLE public.visitors OWNER TO devuser;

--
-- Name: visitors_id_seq; Type: SEQUENCE; Schema: public; Owner: devuser
--

CREATE SEQUENCE public.visitors_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.visitors_id_seq OWNER TO devuser;

--
-- Name: visitors_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: devuser
--

ALTER SEQUENCE public.visitors_id_seq OWNED BY public.visitors.id;


--
-- Name: announcements id; Type: DEFAULT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.announcements ALTER COLUMN id SET DEFAULT nextval('public.announcements_id_seq'::regclass);


--
-- Name: audit_logs id; Type: DEFAULT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.audit_logs ALTER COLUMN id SET DEFAULT nextval('public.audit_logs_id_seq'::regclass);


--
-- Name: clients id; Type: DEFAULT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.clients ALTER COLUMN id SET DEFAULT nextval('public.first_id_seq'::regclass);


--
-- Name: com_users id; Type: DEFAULT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.com_users ALTER COLUMN id SET DEFAULT nextval('public.com_users_id_seq'::regclass);


--
-- Name: contributions id; Type: DEFAULT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.contributions ALTER COLUMN id SET DEFAULT nextval('public.contributions_id_seq'::regclass);


--
-- Name: gate_codes id; Type: DEFAULT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.gate_codes ALTER COLUMN id SET DEFAULT nextval('public.gate_codes_id_seq'::regclass);


--
-- Name: listing_images id; Type: DEFAULT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.listing_images ALTER COLUMN id SET DEFAULT nextval('public.listing_images_id_seq'::regclass);


--
-- Name: listings id; Type: DEFAULT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.listings ALTER COLUMN id SET DEFAULT nextval('public.listings_id_seq'::regclass);


--
-- Name: market id; Type: DEFAULT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.market ALTER COLUMN id SET DEFAULT nextval('public.market_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: visitor_entries id; Type: DEFAULT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.visitor_entries ALTER COLUMN id SET DEFAULT nextval('public.visitor_entries_id_seq'::regclass);


--
-- Name: visitors id; Type: DEFAULT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.visitors ALTER COLUMN id SET DEFAULT nextval('public.visitors_id_seq'::regclass);


--
-- Data for Name: announcements; Type: TABLE DATA; Schema: public; Owner: devuser
--



--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: devuser
--

COPY public.audit_logs (id, actor_id, action, details, created_at) FROM stdin;
\.


--
-- Data for Name: clients; Type: TABLE DATA; Schema: public; Owner: devuser
--

COPY public.clients (id, name, surname, initial, user_id) FROM stdin;
2	Hlubi	Nkosi	H	104
6	Banele	Hlatsa	B	109
1	Kobe	Makhetha	K	103
5	Banza	Sekhoa	S	111
3	Sifiso	Maseko	M	110
4	Siya	Nhlapo	N	107
7	Benzo	Mokoena	B	277
8	Wanga	Ndaa	W	23
16	Manga	Ndaban	A	35
\.


--
-- Data for Name: com_users; Type: TABLE DATA; Schema: public; Owner: devuser
--



--
-- Data for Name: contributions; Type: TABLE DATA; Schema: public; Owner: devuser
--

COPY public.contributions (id, resident_id, amount, month_year, created_at) FROM stdin;
\.


--
-- Data for Name: gate_codes; Type: TABLE DATA; Schema: public; Owner: devuser
--



--
-- Data for Name: listing_images; Type: TABLE DATA; Schema: public; Owner: devuser
--

COPY public.listing_images (id, listing_id, url, ord) FROM stdin;
\.


--
-- Data for Name: listings; Type: TABLE DATA; Schema: public; Owner: devuser
--

COPY public.listings (id, title, description, price, seller_id, created_at, status) FROM stdin;
\.


--
-- Data for Name: market; Type: TABLE DATA; Schema: public; Owner: devuser
--



--
-- Data for Name: schools; Type: TABLE DATA; Schema: public; Owner: devuser
--

COPY public.schools (school, category, id, images, location) FROM stdin;
Bajabs	P	342	24	Mams
Lehlabile	S	350	41	Mams
Balebogeng	P	1	17	SnS
Gatang	S	2	34	Gardens
Mogale	P	3	22	SnS
\.


--
-- Data for Name: user_notification_settings; Type: TABLE DATA; Schema: public; Owner: devuser
--

COPY public.user_notification_settings (user_id, expo_push_token, push_enabled, safety_enabled, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: devuser
--

COPY public.users (id, email, password_hash, created_at, role) FROM stdin;
39	testing@gmail.com	$2b$10$AlH7fDQcV5/1PcmSsPneH.zTTF5sTT/arTn5/iAWaB1NCPisW0qOK	2026-01-06 19:10:19.880662+00	user
40	fumz@gmail.com	$2b$10$ceuDSYWtpw.XcVLk7O87rON8s/o4E7jvSAWz5Yuj2UU3p40dVnjxC	2026-01-06 19:10:57.681954+00	user
41	banda7@gmail.com	$2b$10$AAaT4VgYmcLhU.Sgr35YqOjdZkyQt0Fv3AkNSeU9oOcvannx9WtK.	2026-01-06 19:11:42.53162+00	user
42	slimmy7@gmail.com	$2b$10$S.unmwI0S5rEEzk0cJnxLenu2dyxwDE0I4eEy4BAB4dAgk2.P6yaG	2026-01-06 19:12:30.074335+00	user
\.


--
-- Data for Name: visitor_entries; Type: TABLE DATA; Schema: public; Owner: devuser
--



--
-- Data for Name: visitors; Type: TABLE DATA; Schema: public; Owner: devuser
--



--
-- Name: announcements_id_seq; Type: SEQUENCE SET; Schema: public; Owner: devuser
--

SELECT pg_catalog.setval('public.announcements_id_seq', 334, true);


--
-- Name: audit_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: devuser
--

SELECT pg_catalog.setval('public.audit_logs_id_seq', 1, false);


--
-- Name: com_users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: devuser
--

SELECT pg_catalog.setval('public.com_users_id_seq', 33, true);


--
-- Name: contributions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: devuser
--

SELECT pg_catalog.setval('public.contributions_id_seq', 1, false);


--
-- Name: first_id_seq; Type: SEQUENCE SET; Schema: public; Owner: devuser
--

SELECT pg_catalog.setval('public.first_id_seq', 16, true);


--
-- Name: gate_codes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: devuser
--

SELECT pg_catalog.setval('public.gate_codes_id_seq', 140, true);


--
-- Name: id_seq; Type: SEQUENCE SET; Schema: public; Owner: devuser
--

SELECT pg_catalog.setval('public.id_seq', 3, true);


--
-- Name: listing_images_id_seq; Type: SEQUENCE SET; Schema: public; Owner: devuser
--

SELECT pg_catalog.setval('public.listing_images_id_seq', 1, false);


--
-- Name: listings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: devuser
--

SELECT pg_catalog.setval('public.listings_id_seq', 1, false);


--
-- Name: market_id_seq; Type: SEQUENCE SET; Schema: public; Owner: devuser
--

SELECT pg_catalog.setval('public.market_id_seq', 124, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: devuser
--

SELECT pg_catalog.setval('public.users_id_seq', 42, true);


--
-- Name: visitor_entries_id_seq; Type: SEQUENCE SET; Schema: public; Owner: devuser
--

SELECT pg_catalog.setval('public.visitor_entries_id_seq', 16, true);


--
-- Name: visitors_id_seq; Type: SEQUENCE SET; Schema: public; Owner: devuser
--

SELECT pg_catalog.setval('public.visitors_id_seq', 14, true);


--
-- Name: announcements announcements_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.announcements
    ADD CONSTRAINT announcements_pkey PRIMARY KEY (id);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: com_users com_users_phone_key; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.com_users
    ADD CONSTRAINT com_users_phone_key UNIQUE (phone);


--
-- Name: com_users com_users_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.com_users
    ADD CONSTRAINT com_users_pkey PRIMARY KEY (id);


--
-- Name: contributions contributions_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.contributions
    ADD CONSTRAINT contributions_pkey PRIMARY KEY (id);


--
-- Name: clients first_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.clients
    ADD CONSTRAINT first_pkey PRIMARY KEY (id);


--
-- Name: gate_codes gate_codes_code_key; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.gate_codes
    ADD CONSTRAINT gate_codes_code_key UNIQUE (code);


--
-- Name: gate_codes gate_codes_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.gate_codes
    ADD CONSTRAINT gate_codes_pkey PRIMARY KEY (id);


--
-- Name: listing_images listing_images_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.listing_images
    ADD CONSTRAINT listing_images_pkey PRIMARY KEY (id);


--
-- Name: listings listings_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.listings
    ADD CONSTRAINT listings_pkey PRIMARY KEY (id);


--
-- Name: market market_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.market
    ADD CONSTRAINT market_pkey PRIMARY KEY (id);


--
-- Name: schools second_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.schools
    ADD CONSTRAINT second_pkey PRIMARY KEY (id);


--
-- Name: com_users unique_house_number; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.com_users
    ADD CONSTRAINT unique_house_number UNIQUE (house_number);


--
-- Name: user_notification_settings user_notification_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.user_notification_settings
    ADD CONSTRAINT user_notification_settings_pkey PRIMARY KEY (user_id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: visitor_entries visitor_entries_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.visitor_entries
    ADD CONSTRAINT visitor_entries_pkey PRIMARY KEY (id);


--
-- Name: visitors visitors_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.visitors
    ADD CONSTRAINT visitors_pkey PRIMARY KEY (id);


--
-- Name: visitors visitors_plate_key; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.visitors
    ADD CONSTRAINT visitors_plate_key UNIQUE (plate);


--
-- Name: idx_com_users_current_code_id; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX idx_com_users_current_code_id ON public.com_users USING btree (current_code_id);


--
-- Name: idx_market_created_at; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX idx_market_created_at ON public.market USING btree (created_at DESC);


--
-- Name: idx_market_user_id; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX idx_market_user_id ON public.market USING btree (user_id);


--
-- Name: idx_uns_push_enabled; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX idx_uns_push_enabled ON public.user_notification_settings USING btree (push_enabled) WHERE (expo_push_token IS NOT NULL);


--
-- Name: idx_uns_safety_enabled; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX idx_uns_safety_enabled ON public.user_notification_settings USING btree (safety_enabled) WHERE (expo_push_token IS NOT NULL);


--
-- Name: announcements announcements_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.announcements
    ADD CONSTRAINT announcements_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.com_users(id);


--
-- Name: audit_logs audit_logs_actor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_actor_id_fkey FOREIGN KEY (actor_id) REFERENCES public.com_users(id);


--
-- Name: com_users com_users_current_code_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.com_users
    ADD CONSTRAINT com_users_current_code_id_fkey FOREIGN KEY (current_code_id) REFERENCES public.gate_codes(id);


--
-- Name: contributions contributions_resident_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.contributions
    ADD CONSTRAINT contributions_resident_id_fkey FOREIGN KEY (resident_id) REFERENCES public.com_users(id);


--
-- Name: market fk_market_user; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.market
    ADD CONSTRAINT fk_market_user FOREIGN KEY (user_id) REFERENCES public.com_users(id);


--
-- Name: user_notification_settings fk_uns_user; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.user_notification_settings
    ADD CONSTRAINT fk_uns_user FOREIGN KEY (user_id) REFERENCES public.com_users(id) ON DELETE CASCADE;


--
-- Name: listing_images listing_images_listing_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.listing_images
    ADD CONSTRAINT listing_images_listing_id_fkey FOREIGN KEY (listing_id) REFERENCES public.listings(id) ON DELETE CASCADE;


--
-- Name: listings listings_seller_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.listings
    ADD CONSTRAINT listings_seller_id_fkey FOREIGN KEY (seller_id) REFERENCES public.com_users(id);


--
-- Name: visitor_entries visitor_entries_host_resident_fkey; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.visitor_entries
    ADD CONSTRAINT visitor_entries_host_resident_fkey FOREIGN KEY (host_resident) REFERENCES public.com_users(house_number);


--
-- Name: visitor_entries visitor_entries_visitor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.visitor_entries
    ADD CONSTRAINT visitor_entries_visitor_id_fkey FOREIGN KEY (visitor_id) REFERENCES public.visitors(id);


--
-- PostgreSQL database dump complete
--

\unrestrict q36NBI6R58dtb2RsacJdNnwF8HGM2rOa7OWnteXufoQ7Z7PY9YEagLHWTRnQviy

